.btn-word {
  display: flex;
  justify-content: space-between;

}

.btn-word output {
  font-family: 'bungee';
}

.btn-word button {
  background-color: #4056A1;
  color: white;
  font-family: 'bungee';
  border: none;
}

.container label {
  font-family: 'sans serrif';

}

.new-tweet {
  padding: 5px 0;
}

.error_msg {
  color: red;
  text-transform: uppercase;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}



.new-tweet form textarea {
  border: none;
  background-color: #f4f1ec;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}

.button-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Bungee;
  margin: 1rem 0 0 0;
}

.new-tweet form button {
  background: #4152a1;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 15px;
}